body {
  font-family: "Gilroy-Medium", sans-serif;
  background: #FFF;;
}

.nav {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: #141414;
}


.login {
  text-decoration: none;
  color: #0065fe;
  margin-right: 1rem;
  font-size: 16px;
font-family: "Gilroy-SemiBold", sans-serif;
} 

.trial {
  border: 0;
  outline: 0;
  background-color: #0065fe;
  padding: 0.75rem 1.5rem;
  border-radius: 6.25rem;
  color: #FFF;
  align-items: center;
  font-size: 16px;
  font-family: "Gilroy-SemiBold", sans-serif; 
  
}

.features {
  display: flex;
  align-items: center;
}

.about{
  display: flex;
flex-direction: column;
align-items: center;
}

.about-container{
  width: 80%;
  margin-bottom: 5rem;
}
.about-container h2{
 
  color: #141414;
  text-align: center;
  font-size: 3rem;
  font-family: 'Gilroy-Bold', sans-serif;
  line-height: 96px;
  margin-bottom: 20px;
}


.text{
  /* width: 90%; */
color:  #141414;
text-align: center;
font-size: 18px;
font-family: 'Gilroy-Medium', sans-serif;
}

.auth1{
  display: flex;
  justify-content: center;
  align-items: center;
    margin-right: 1rem;
    gap: 56px;
}
.signup{
   display: flex;
  width: 142px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  outline: 0;
  background-color: #0065fe;
  border-radius: 6.25rem;
  font-family: 'Gilroy-SemiBold', sans-serif;
  color:  #FFF;
  font-size: 16px;
  line-height: 12px;
}
.info{
  gap: 10px;
  text-decoration: none;
  color: #0065FE;
  font-family: 'Gilroy-SemiBold', sans-serif;
}

.icons-container{
 width: 30%;
  margin: 0 auto;
  margin-block: 5rem;
 
}
.icons{
 
  padding: 40px 60px;
  border-radius: 24px;
  border: 0.5px solid  #005AE2;
  background: rgba(254, 254, 254, 0.10);
  backdrop-filter: blur(106px);
  margin-bottom: 5rem;
}
/* .images{
  width: 80px;
height: 80px;
} */
  .text1 {
    display: flex;
    justify-content: center;
    line-height: 24px;
    font-family: 'Gilroy-Medium', sans-serif;
  }

.eclipse{
  display: flex;
  width: 956px;
height: 49px;
flex-shrink: 0;
border-radius: 956px;
background: linear-gradient(180deg, rgba(226, 233, 240, 0.70) 10.68%, rgba(220, 228, 235, 0.70) 44.01%, rgba(226, 233, 240, 0.00) 100%);
box-shadow: 0px 4px 4px 0px rgba(18, 36, 89, 0.35);
}

.sccissor-info{
display: inline-flex;
padding: 0px 0px 130px 0px;
flex-direction: column;
align-items: center;
gap: 128px;
background: #FFF;
}

.info1{
display: flex;
padding: 60px 140px;
justify-content: center;
align-items: center;
/* gap: 80px; */
background: #F9FBFD;
}
.info1 h2{
  color: #141414;
font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 48px;
}
.info1 ul{
  List-style-type: none;
  Font-weight: bold;
  }
  .info1 h3{
  Font-size:1.5rem;
  }

  .users{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

 .reason-container{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 1rem;
  
 }
 .reason-child {
  width: 45%
 }

.reason{
display: flex;
justify-content: center;
align-items: flex-start;
margin-block: 3rem;
gap: 96px;
}

.article{
  width: 40%;
}


.article img{
  width: 0.1px;
  height: 48px;
}
.article h2{
  color: #141414;
font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 32px;
}
.article p{
color:  #141414;
font-size: 16px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 28px;
}

.pricing{
  display: flex;
width: 100%;
margin-block: 3rem;
/* 
padding: 42px 176px 112px 176px; */
flex-direction: column;
align-items: center;
justify-content: center;
gap: 68px;
background: #FFF
}

.price-info h2{
  color: #141414;
text-align: center;
font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 48px;
}

.price-info p{
  display: flex;
width: 556px;
height: 52px;
flex-direction: column;
  color:  #141414;
text-align: center;
font-size: 16px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 24px;
}
.buttons{
display: flex;
align-items: flex-start;
gap: 12px;
}
.white{
display: flex;
width: 200px;
height: 48px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
border: 1px solid  #0065FE;
color:  #0065FE;
background: #FFF;
font-size: 16px;
font-family: "Gilroy-SemiBold", sans-serif;
line-height: 12px;
}
.blue{
  display: flex;
width: 200px;
height: 48px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border: 0;
border-radius: 100px;
background:  #0065FE;
color: #FFF;
font-size: 16px;
font-family: "Gilroy-SemiBold", sans-serif;
line-height: 12px;
}

.pricing-table{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.basic{

display: inline-flex;
padding: 3rem 2.5rem;
flex-direction: column;
align-items: flex-start;
gap: 34px;
border-radius: 12px;
border: 0.4px solid  #005AE2;
background:  #FFF;
/* Drop shadow */
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.b-title{
  color: #141414;
text-align: center;
font-size: 24px;
font-family: "Gilroy-Medium",sans-serif;
line-height: 32px;
}
.b-price b{
  color:  #141414;
text-align: center;
/* H0/Bold */
font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 48px;
}
.b-price p{
  color:  #141414;
text-align: center;
font-size: 20px;
font-family: "Gilroy-Medium",sans-serif;
line-height: 32px;
}
.b-price-features{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
color: #000;
text-align: center;
font-size: 14px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 24px;
}
.professional{
  display: inline-flex;
padding: 3rem 2.5rem;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 12px;
background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
transform: scale(1.1);
/* Drop shadow */
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.p-title{
  width: 131px;
  height: 32px;
  color:  #FFF;
text-align: center;
font-size: 24px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 32px;
}
.p-price b{
  width: 200px;
  height: 48px;
  color:  #FFF;
text-align: center;
font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 48px;
}
.p-price p{
  width: 239px;
  height: 32px;
  color: #FFF;
text-align: center;
font-size: 20px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 32px;
}
.p-price-features{
  display: flex;
width: 200px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
color:  #FFF;
text-align: center;
font-size: 14px;
font-family:"Gilroy-Medium", sans-serif;
line-height: 24px;
}
.teams{
  /* width: 250px;
  height: 350px; */
display: inline-flex;
padding: 3rem 2.5rem;
flex-direction: column;
align-items: flex-start;
gap: 34px;
border-radius: 12px;
border: 0.4px solid  #005AE2;
background:  #FFF;
/* Drop shadow */
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.t-title{
  color: #141414;
  text-align: center;
  font-size: 24px;
  font-family: "Gilroy-Medium",sans-serif;
  line-height: 32px;
}
.t-price b{
  color:  #141414;
  text-align: center;
  /* H0/Bold */
  font-size: 40px;
  font-family: "Gilroy-Bold", sans-serif;
  line-height: 48px;
}
.t-price-features{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: "Gilroy-Medium", sans-serif;
  line-height: 24px;

}
.form-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 4rem;
background:  linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
}
.form{
  width: 35%;
  height: 50%;
display: flex;
padding: 2.5rem;
margin-block: 1.5rem;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

border-radius: 12px;
background: #FFF;
}
.url input{
  display: flex;
width: 392px;
height: 55px;
padding: 8px 12px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
border-radius: 12px;
border: 1px solid #3284FF;
}
.form-1{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
::placeholder{
 color:  #3284FF;
font-size: 12px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 18px;
}
.domain-alias {
  display: flex;
  /* width: 202px;
  height: 48px; */
  padding: 18px 20px;
  align-items: center;
  gap: 10px;
}
.form-button{
 
    display: flex;
  /* width: 200px;
  height: 48px; */
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  border-radius: 100px;
  background:  #0065FE;
  color: #FFF;
  font-size: 16px;
  font-family: "Gilroy-SemiBold", sans-serif;
  line-height: 12px;
 
}

.faqs{
  width: 100%;
/* height: 1153px; */
background:  #FFF;
  display: inline-flex;
  margin: 0 auto;
flex-direction: column;
align-items: center;
/* justify-content: center; */
gap: 64px;
}
.faqs h2{
  color:  #141414;
font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 32px;
}

.faq{
  display: flex;
flex-direction: column;
align-items: flex-start;
}
.question{
display: flex;
justify-content: space-between;
align-items: center;
}
.question h3{
  color:  #141414;
font-size: 20px;
font-family: "Gilroy-Medium", san;
line-height: 32px;
}
.answer p{
  color:  #141414;
font-size: 16px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 32px;
padding-top: 1rem;
}

.opt{
 display: flex;
flex-shrink: 0;
background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
}
.more{
display: inline-flex;
flex-direction: column;
align-items: center;
gap: 32px;
}
.more h3{
  display: flex;
width: 806px;
height: 57px;
flex-direction: column;
color: #FFF;
text-align: center;

font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 48px;
}

.more button{
  display: flex;
width: 200px;
height: 48px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
}